# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sahaa_traders

# JWT Configuration
JWT_SECRET=sahaa-traders-secret-key-2025-secure-jwt-token
JWT_EXPIRES_IN=7d

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM=noreply@sahaatraders.com

# Frontend URLs
# PUBLIC_SITE_URL=https://localhost:3000,http://localhost:3002
# ADMIN_APP_URL=http://localhost:3001

PUBLIC_SITE_URL=https://sahatrades.in
ADMIN_APP_URL=https://admin.sahatrades.in


# Upload Configuration
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
